
/** Header Styles **/

header {
    text-align: center;
    background-color: #340d0a;
    color: #DDD;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 10px;
    box-shadow: 0 0 10px 0 #000;
}

h1 {
    margin: 20px;
}

#navbutton {
    float: left;
    margin-top: 8px;
    margin-left: 10px;
    background-color: #3b100d;
    padding: 5px 7px 5px 7px;
}

nav {
    float: left;
    background-color: #471713;
    width: 150px;
}

nav a {
    color: #DDD;
    text-decoration: none;
    font-style: italic;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

#wrapper {
    margin-top: 97px;
}

#home {
    background: url("../images/2022_Missouri_train_derailment_overturned_railcars.png") no-repeat;
    background-size: cover;
}
