
/** Header Styles **/

header {
    text-align: center;
    background-color: #340d0a;
    color: #DDD;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 10px;
    box-shadow: 0 0 10px 0 #000;
}

header a {
    color: #DDD;
    text-decoration: none;
}

h1 {
    margin: 20px;
}

/** Nav Styles **/

#navbutton {
    float: left;
    margin-top: 8px;
    margin-left: 10px;
    background-color: #3b100d;
    padding: 5px 7px 5px 7px;
    border: 1px solid #290a08;
}

nav {
    float: left;
    background-color: #111724;
    width: 200px;
}

nav a {
    color: #DDD;
    text-decoration: none;
    font-style: italic;
}

/** Main Styles **/

h2 {
    padding-bottom: 13px;
    border-bottom: 4px solid #ff9500;
}

main a {
    color: #111724;
    text-decoration: none;
    font-weight: bold;
    background: #DDD;
    padding: 0px 3px 3px 3px;
}

main a:hover {
    color: #DDD;
    text-decoration: none;
    font-weight: bold;
    background: #3b100d;
    padding: 0px 3px 3px 3px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
    color: #DDD;
}

li {
    padding: 5px 30px 5px 30px;
    list-style: circle;
}

li:hover {
    background-color: #1f283c;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 20px 60px 20px 60px;
    background: #111724f7;
    box-shadow: 0 0 5px 0 #000;
    box-sizing: border-box;
    font-size: 16px;
    min-height: 84vh;
}

.caption {
    margin-top: 100px;
    margin-bottom: 100px;
}

aside {
    background-color: #5b616333;
    width: 400px;
    box-sizing: border-box;
    padding: 10px;
    margin-left: 5%;
    margin-right: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

aside img {
    width: 100%;
    object-fit: cover;
}

#wrapper {
    margin-top: 97px;
}

#home {
    /** https://commons.wikimedia.org/wiki/File:2022_Missouri_train_derailment_overturned_railcars.png **/
    background: url("../images/2022_Missouri_train_derailment_overturned_railcars.png") no-repeat;
    background-size: cover;
}

#services {
    /** https://commons.wikimedia.org/wiki/File:A_welder_using_an_angle_grinder_to_grind_steel.jpg **/
    background: url("../images/A_welder_using_an_angle_grinder_to_grind_steel.jpg") no-repeat;
    background-size: cover;
}

table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: #0b0f1764;
}

.icon {
    background: #1f283c;
    width: 200px;
}

.desc {
    padding: 15px;
}

tr {
    border-bottom: medium solid #ff9500;
}

td img {
    width: 200px;
}

/** Footer Styles **/

footer {
    text-align: center;
    background-color: #340d0a;
    color: #DDD;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 5px 0px 5px 0px;
}